PORT = 5000
CLIENT_URL = http://localhost:5173

# MongoDB — replace with your Atlas URI or use local
MONGO_URI = mongodb://localhost:27017/therabridge

JWT_SECRET = therabridgejwtsecret_change_in_production

EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USER = your gmail stmp account email here
EMAIL_PASS = your gmail app password here

# Global Email Settings
FROM_NAME = Therabridge
FROM_EMAIL = no-reply@therabridge.com

NODE_ENV = development